@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";

div.card-body>.text-center {
    color: gray;
    margin: 200px 0 60px 0;
}

.form-control{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 15px;
  }

  .col-centered{
      margin: 0 auto;
      float: none;
  }

  .col-centered-button{
    margin: 0 auto;
    float: none;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    /* width: 30%; */
    
}

::-webkit-input-placeholder {
    font-size: 11px !important;
}

input[type="identity"],
input[type="password"] {
    font-size: 11px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 11px!important;

}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px!important;

}


.btn-circle {
    /* width: 30px;
    height: 30px; */
    text-align: center;
    padding: 6px 0;
    /* font-size: 12px; */
    line-height: 1.42;
    border-radius: 15px;
  }

.btn{
    font-size: 14px;
}

  input#identity,
  input#password,
  label>input{
      background-color: #666;
      color: white;
      padding-left: 15px;
  }

  .form-control::placeholder{
      color: rgb(226, 216, 216);
      opacity: 1;
  }
 
/* Checkbox */

label{
    cursor: pointer;
    color: #666;
    font-size: 12px;
}

input[type="checkbox"]{ 
    display:none
}

span.label-text{
    left: 30px;
    top: 10px;
}

input[type="checkbox"]+ .label-text:before{
    content:"\f05d";
    font-family:"FontAwesome";
    speak:none;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    /*width: 1em;*/
    display: inline-block;
    margin: 4px 3px;
}

input[type="checkbox"]:checked + .label-text:before{
    content: "\f058";
    color: #666;
}


/*Autofill*/

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover{
    -webkit-box-shadow: 0 0 0 100px #666666 inset;
    -webkit-text-fill-color: #E2D8D8;
}

